MONGODB_URI=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
ADMIN_ALLOWED_EMAIL=
GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_BRANCH=main
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
PTERODACTYL_PANEL_URL=
PTERODACTYL_APPLICATION_API_KEY=
CLIENT_ORIGIN=https://kyyinfinite.my.id
PORT=5000
